<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC ".//SPRING/DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="springexample.exA02.Triangle" >
		<property name="pointA" ref="pointA"/>
		<property name="pointB" ref="pointB"/>
		<property name="pointC" ref="pointC"/>
	</bean>
	
	<bean id="circle" class="springexample.exA02.Circle" >
		<property name="center" ref="pointA"/>
	</bean>
	
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
	
	<bean id="pointA" class="springexample.exA02.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointB" class="springexample.exA02.Point">
		<property name="x" value="-25" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointC" class="springexample.exA02.Point">
		<property name="x" value="0" />
		<property name="y" value="25" />
	</bean>
	
</beans>